/*
 Theme Name: Twenty Seventeen Child
 Theme URI: https://www.element8.ae
 Author: Element8
 Author URI: https://www.element8.ae
 Template: twentyseventeen
 Description: Child theme for Twenty Seventeen.
 Version: 0.1
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
 Tags:
 Text Domain: twentyseventeen-child
 */


 @font-face {font-family: 'metric-bold';
        src: url('assets/fonts/Metric-Bold.eot');
        src: url('assets/fonts/Metric-Bold.eot?#iefix') format('embedded-opentype'),
             url('assets/fonts/Metric-Bold.woff2') format('woff2'),
             url('assets/fonts/Metric-Bold.woff') format('woff'),
             url('assets/fonts/Metric-Bold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;  
}

@font-face {font-family: 'metric-semibold';
        src: url('assets/fonts/metric-semibold.eot');
        src: url('assets/fonts/metric-semibold.eot?#iefix') format('embedded-opentype'),
             url('assets/fonts/metric-semibold.woff2') format('woff2'),
             url('assets/fonts/metric-semibold.woff') format('woff'),
             url('assets/fonts/metric-semibold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}

@font-face {font-family: 'metric-light';
        src: url('assets/fonts/metric-light.eot');
        src: url('assets/fonts/metric-light.eot?#iefix') format('embedded-opentype'),
             url('assets/fonts/metric-light.woff2') format('woff2'),
             url('assets/fonts/metric-light.woff') format('woff'),
             url('assets/fonts/metric-light.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}


@font-face {
    font-family: 'Metric-Thin';
    src: url('assets/fonts/Metric-Thin.eot');
    src: url('assets/fonts/Metric-Thin.woff') format('woff'),
         url('assets/fonts/Metric-Thin.ttf') format('truetype'),
         url('assets/fonts/Metric-Thin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'metric-regular';
    src: url('assets/fonts/metric-regular.eot');
    src: url('assets/fonts/metric-regular.woff') format('woff'), url('assets/fonts/metric-regular.ttf') format('truetype'), url('assets/fonts/metric-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


 *{
	margin:0; outline:none; padding:0; text-decoration:none;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
html {
    -webkit-text-size-adjust: 100%;
}
body{
	font-family: 'metric-regular';
	font-size:16px;
	color:#737373;
}





.clr, .clear{
 clear:both;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: " "
}
.clearfix:after{
	clear: both
}

p{
	line-height:24px;
	margin-bottom:25px;
}
ul li{ list-style:none;}
.subpage ul:not([class]) li{ list-style:none; background:url(assets/images/bullet.png) no-repeat 0 7px; position:relative; padding-left:8px;}

li.clr{ clear:both; float:none !important; width:auto !important; height:auto !important; border:0 !important; background:none !important; padding:0 !important; margin:0 !important;}

img {
    max-width: 100%;
}

header{ 
	position:relative; 
	z-index:1
}

section{
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fredoka One', cursive;
	font-weight:normal;
	color:#000;
	margin-bottom:10px;
}

h1{
	font-size:46px;
	line-height: 40px;
}
h2{
	font-size:42px;
}
h3{
	font-size:36px;
}
h4{
	font-size:20px;
}
h5{
	font-size:18px;
}
h6{
	font-size:14px;
}
.color-default{
	color:# !important;
}
.height5 {
    height: 5px;
}

.height10 {
    height: 10px;
}

.height20 {
    height: 20px;
}

.height30 {
    height: 30px;
}

.height40 {
    height: 40px;
}

.height50 {
    height: 50px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-35 {
    padding-top: 35px;
}

.padding-bottom-60 {
    padding-bottom: 60px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-bottom-35 {
    padding-bottom: 35px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.no-bg-img {
    background-image: none!important;
}

.no-bg {
    background: none!important;
}

.no-margin {
    margin: 0!important;
}

.no-margin-top {
    margin-top: 0!important;
}

.no-margin-right {
    margin-right: 0!important;
}

.no-margin-bottom {
    margin-bottom: 0!important;
}

.no-margin-left {
    margin-left: 0!important;
}

.no-padding {
    padding: 0!important;
}

.no-padding-top {
    padding-top: 0!important;
}

.no-padding-right {
    padding-right: 0!important;
}

.no-padding-bottom {
    padding-bottom: 0!important;
}

.no-padding-left {
    padding-left: 0!important;
}

.inline {
    display: inline-block!important;
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.static {
    position: static !important;
}

.hidden-content{
	display:none;
}

.display-none{
	display:none;
}


@media (min-width: 769px){
.row{
	margin:0 -15px;
    font-size: 0;
}
.row:before, .row:after{
	content: " ";
    display: table;
}
.row:after{ clear:both;}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	display: inline-block;
	min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    vertical-align: top;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.col-12 {
	width: 100%
}
.col-11 {
	width: 91.66666667%
}
.col-10 {
	width: 83.33333333%
}
.col-9 {
	width: 75%
}
.col-8 {
	width: 66.66666667%
}
.col-7 {
	width: 58.33333333%
}
.col-6 {
	width: 50%
}
.col-5 {
	width: 41.66666667%
}
.col-4 {
	width: 33.33333333%
}
.col-3 {
	width: 25%
}
.col-2 {
	width: 16.66666667%
}
.col-1 {
	width: 8.33333333%
}
}


.social li {
    display: inline-block;
}
.social li a {
    background: #cecece;
    border-radius: 100%;
    color: #424242 !important;
    display: block;
    font-size: 18px !important;
    height: 33px;
    line-height: 40px;
    width: 33px;
    text-align: center;
}



input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea { background: #f7f7f7;
	color: #000;
	padding: 15px 20px;
	font-size:14px;
	width: 100%;
	height:48px;
	 font-family: "Graphik-Regular",Arial,Helvetica,sans-serif;
	border:0;
	margin-bottom:18px;}
input[type="checkbox"]{ margin:0;}
textarea{ height:130px; resize:none;}


/* for wordpress only */
.contact-form-widget form p span.wpcf7-form-control-wrap:nth-child(2){ float:left; width:49%;}
.contact-form-widget form p span.wpcf7-form-control-wrap:nth-child(3){ float:right; width:49%;}
.wpcf7-not-valid-tip{ display:none !important;}
.wpcf7-not-valid{ background:#fff0f0 !important}
div.wpcf7-response-output{ padding:10px 15px !important; color:#000;}

.success-msg{ padding:10px; background:#e3eed8; border:1px solid #dbe6c7; margin-bottom: 10px;}

.btn{ background:#00a9c5; border:1px solid #00a9c5; cursor:pointer;display: inline-block; border-radius:5px; color:#fff; font-family: 'metric-bold'; font-size:18px; text-transform:uppercase;padding: 16px 30px 10px; text-align:center;}
.btn:hover{ background:#e14062; border-color:#e14062;}
.btn i{ margin-left: 5px; }

.btn.btn-dark{ background: #000; border-color:#000; }
.btn.btn-dark:hover{ background: #e14062; border-color:#e14062; }


.btn.btn-inverse{ background: #e14062; border-color:#e14062; }
.btn.btn-inverse:hover{ background: #00a9c5; border-color:#00a9c5; }



.pagination{text-align: center; padding-top:50px; border-top:1px solid #D8D8D8;}
.pagination h2, .pagination svg, .pagination .nav-links .screen-reader-text{ display:none;}
.pagination .nav-links .page-numbers{ display:inline-block; vertical-align:top; font-size: 14px; height: 30px; line-height: 30px;  text-align: center; width: 30px; color:#149245;}
.pagination .nav-links .page-numbers:hover{ background: #f1f1f1;}
.pagination .nav-links .page-numbers.current{ color:#666;background: #f1f1f1;}
.pagination .nav-links { border: 1px solid #f1f1f1; display: inline-block;}

.list-bullets li{ background:url(assets/images/bullet.png) no-repeat 0 1px; padding:0 0 0 20px; margin-bottom:12px;}

.text-center{ text-align:center;}
.text-right{ text-align:right;}
.text-left{ text-align:left;}


/* error-404 */
.error-404{ background: #fff; text-align: center; padding: 120px 0; }
.error-404 .page-title{ color: #000; padding:0; margin-bottom: 20px;}
.error-404 form{ max-width: 500px; margin:50px auto 0; position: relative; }
.error-404 .screen-reader-text{ display: none; }
.error-404 .search-submit{ background: none;border: 0;position: absolute;right: 10px;top: 0;cursor: pointer;padding: 15px 5px 14px;}
.error-404 input{ -webkit-appearance:none; padding-right: 37px; }
.error-404 .search-submit svg{ width: 20px; height: 20px; }

/* search */
.search .entry-title{font-size:20px;margin-bottom:2px;}
.search .entry-title a{color:#000;}
.search .entry-title a:hover{text-shadow:1px 1px 1px #fff200;}
.search .hentry{border-bottom:1px solid #ccc;margin-bottom:40px;}
.search .pagination{border-top:0;}

/*------------------------------------------------------------------

COMMON CLASSES END 

-------------------------------------------------------------------*/
.container{ margin:0 auto; max-width:1250px;}
.container.small{ max-width: 1000px; }

@media screen and (min-width:769px){
.animate-it, .animate-on-load{ opacity:0;}
}


/*------------------------------------------------------------------

HEADER START 

-------------------------------------------------------------------*/
.header{ background:#fff; padding:26px 0; transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s;}
.header .logo{ float:left;}
.header .main-nav{ float:right; margin-top: 25px;}
.header .main-nav li{ float:left; list-style:none; margin:0 14px;}
.header .main-nav li:last-child{ margin-right:0;}
.header .main-nav li a{ color:#333333; font-size:18px; text-transform:uppercase; font-family: 'metric-bold'; border-bottom: 4px solid transparent; }


.header .main-nav li:nth-child(1) a{ color: #e13f63;}
.header .main-nav li:nth-child(2) a{ color: #98c93c;}
.header .main-nav li:nth-child(3) a{ color: #02aac5;}
.header .main-nav li:nth-child(4) a{ color: #7b7b7b;}
.header .main-nav li:nth-child(5) a{ color: #e14062;}
.header .main-nav li:nth-child(6) a{ color: #97c83c;}
.header .main-nav li:nth-child(7) a{ color: #7b7b7b;}
.header .main-nav li:nth-child(1) a:hover{ border-color:#e13f63;}
.header .main-nav li:nth-child(2) a:hover{ border-color:#98c93c}
.header .main-nav li:nth-child(3) a:hover{ border-color:#02aac5}
.header .main-nav li:nth-child(4) a:hover{ border-color:#7b7b7b}
.header .main-nav li:nth-child(5) a:hover{ border-color:#e14062}
.header .main-nav li:nth-child(6) a:hover{ border-color:#97c83c}
.header .main-nav li:nth-child(7) a:hover{ border-color:#7b7b7b }

.header .main-nav li a:hover, .header .main-nav li.current-menu-item a{}



.header .main-nav li:nth-child(1) a:hover, .header .main-nav li.current-menu-item:nth-child(1) a{border-color:#e13f63;}
.header .main-nav li:nth-child(2) a:hover, .header .main-nav li.current-menu-item:nth-child(2) a{border-color:#98c93c}
.header .main-nav li:nth-child(3) a:hover, .header .main-nav li.current-menu-item:nth-child(3) a{border-color:#02aac5}
.header .main-nav li:nth-child(4) a:hover, .header .main-nav li.current-menu-item:nth-child(4) a{border-color:#7b7b7b}
.header .main-nav li:nth-child(5) a:hover, .header .main-nav li.current-menu-item:nth-child(5) a{border-color:#e14062}
.header .main-nav li:nth-child(6) a:hover, .header .main-nav li.current-menu-item:nth-child(6) a{border-color:#97c83c}
.header .main-nav li:nth-child(7) a:hover, .header .main-nav li.current-menu-item:nth-child(7) a{border-color:#7b7b7b}






.header.fixed{ position:fixed; top:0; width:100%; box-shadow: 0px 2px 10px 0px #0000001f; padding:6px 0;z-index:1111;}



.instagram-widget{ padding:70px 0 80px; background: #fff;}
.instagram-widget h3,
.instagram-widget h3 a{ text-align: center; font-size: 33px; color: #000; margin-bottom: 30px;}
.instagram-widget h3 i{ margin-right: 5px; }
.instagram-widget ul{ margin:0 -6px; font-size: 0}
.instagram-widget ul li{ padding:0 6px 12px; display: inline-block; width: 14.28%; vertical-align: top;}
.instagram-widget ul li img{ width: 100%; display: block; }




.footer .container{ max-width:1140px;}
.footer-top{ padding:57px 0; background: #f4f5f5; }
.footer-top .left{ float: left; width: 60%;}
.footer-top .left h3{ margin-bottom: 5px; color:#424242;}
.footer-top .left p{ color: #000; margin:0; font-size: 21px;}
.footer-top .right{ float: right; width: 40%;}
.footer-top .right .btn{ display: block; margin-top: 9px;}



.footer-bottom{ padding:70px 0; background: #424242; }
.footer-bottom h3{ color:#fff; font-size: 21px; text-transform: uppercase; font-family: 'metric-bold';margin-bottom: 12px;}
.footer-bottom ul li{ margin-bottom: 8px; }
.footer-bottom ul li a{ color: #d3d3d3;}
.footer-bottom ul li a:hover{ color: #fff;}
.footer-bottom ul.social li{ margin-right: 6px;}
 
.sitemap-widget{ float: left; width: 35%; }
.sitemap-widget li{ display: inline-block; width:49%; }
.what-we-do-widget{ float: left; width: 23%; padding-left: 2%;}
.what-we-offer-widget{ float: left; width: 22%; }
.footer-contact-widget{ float: left; width: 20%; }
.footer-contact-widget p{ color:#949494; margin:0 0 10px;}
.footer-contact-widget p span{ display: block; color:#fff;line-height: 17px;font-family: 'metric-regular';}
.footer-contact-widget p a{ color: #949494; font-family: 'metric-light';}
.footer-contact-widget p a:hover{ color: #d3d3d3; }
.footer .copyright{ color: #ababab; font-size: 14px; margin:0; }








.our-partners{ text-align: center; padding:55px 0; border-top:2px dashed #cfcfcf; border-bottom:2px dashed #cfcfcf;}
.our-partners h2{ color: #98c93c; margin-bottom: 28px; }
.our-partners a{ margin:0 40px;}
.our-partners a img{ max-height: 100px; }
.our-partners a:first-child {
    padding: 0 0 0 84px;
}
.our-partners .partners-carousel .v-align{ height: 82px; }
.our-partners .partners-carousel .v-align .helper{display:inline-block;height:100%;padding:0;position:relative;bottom:0;left:0;vertical-align:middle;}
.our-partners .partners-carousel .v-align img{vertical-align:middle;max-width:94%;max-height:94%;}


.heading{ margin-bottom: 40px; text-align: center;   }
.heading h2{ margin-bottom: 4px;}
.heading p{ text-transform: uppercase; color: #000; }

.what-we-offer{ padding:80px 0; }
.what-we-offer-row{ margin:0 -8px; }
.what-we-offer-row .each{ padding:0 8px; float: left; position: relative;}
.what-we-offer-row .each img{ width: 100%; display: block; }
.what-we-offer-row .each a{display:block}
.what-we-offer-row .each::before{ content: ""; position: absolute; left: 8px; right: 8px; bottom: 0; top: 0;
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.80) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a8000000',GradientType=0 ); /* IE6-9 */
}
.what-we-offer-row .each h3{ position: absolute; left: 35px; right: 25px; bottom: 10px; color:#fff; font-size: 22px; text-transform: uppercase;font-family: 'metric-bold';}




.our-playgrounds{ padding:80px 0; background: #ededed;}
.playground-widget{ background: #fff; box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.16); margin-bottom: 10px;}
.playground-widget img{ display: block; width: 100%;}
.playground-widget .desc{ padding:28px 30px 30px; text-align: center;min-height: 140px;}
.playground-widget .desc h3,
.playground-widget .desc h3 a{ font-size: 18px; color: #0076bd}
.playground-widget .desc h3 a:hover{ color: #222}
.playground-widget .desc p{ margin:0; font-size: 16px}

.playgrounds-list{ margin: 0 -10px; font-size: 0;}
.playgrounds-list .each{ padding: 0 10px 20px; display: inline-block; width: 33.3%; vertical-align: top;}




.what-we-do{ padding:80px 0; background: #e14062; position: relative;}
.what-we-do .heading h2{ color:#fff; }
.what-we-do .heading p{ color:#fff; }
.what-we-do .container{ max-width: 1060px; }
.what-we-do .row{ margin:0 -86px; font-size: 0;}
.what-we-do .row .each{ display: inline-block; margin:0 33px; background-repeat: no-repeat; border-bottom: 1px solid #fff; margin-bottom: 32px; padding-left:86px;}

.what-we-do .row .each p{ font-size: 15px; text-transform: uppercase; color:#fff; line-height: 19px;}
.what-we-do .row .each h3{ color:#fff; font-family: 'metric-light'; margin-bottom: 0;}
.what-we-do .row .each:hover h3, .what-we-do .row .each:hover p{ color:#520616; }


.curv img{ display: block; width: 100%; }


.our-hostory{ padding:80px 0; }
.our-hostory .left{ width: 30%; float: left; padding: 75px 0 0 0; }
.our-hostory .left h2{ color: #02aac6; font-size: 36px; margin-bottom: 15px;}
.our-hostory .left p{ font-size: 19px; line-height: 26px; color: #737373;}
.our-hostory .left a{ text-transform: uppercase; font-family: 'metric-bold'; color:#000;}
.our-hostory .left a:hover{ color: #e14062; }
.our-hostory .left a i{ font-size: 18px; margin:0 0 0 5px; vertical-align: middle; position: relative; top: -1px;}
.our-hostory .right{ width: 65%; float: right; }

.main-banner {
    margin: 0 0 -149px 0;
}


.banner-bottom{ padding:184px 0 0 0 ; background: url(assets/images/loop-homebanner.png) center top ; height:293px; position:relative;
z-index:100; }
.banner-bottom .container{ max-width: 890px; }
.banner-bottom .left{ float: left; width: 70%;}
.banner-bottom .left h3{ margin-bottom: 5px; color:#fff;}
.banner-bottom .left p{ color: #fff; margin:0; font-size: 21px;}
.banner-bottom .right{ float: right; width: 25%;}
.banner-bottom .right .btn{ margin-top: 9px;}



.what-we-do-row{ font-size: 0 }
.what-we-do-row .col-6{ padding-top: 50px; padding-bottom: 60px; }
.what-we-do-row .col-6 img{ display: block; margin-bottom: 25px; }
.what-we-do-row .col-6 h3{ font-size: 28px; padding:10px 0 0 70px; background-repeat: no-repeat;min-height: 60px;}
.what-we-do-row .col-6 p{font-size:18px; line-height: 28px; font-family: 'metric-light'; margin:0;}
.what-we-do-row .each:nth-child(2n+2){ background: #f6f6f6; padding-top: 15px;}


.page-title{ color: #98c83b; }

.subpage-banner{ height: 550px; background-color: #f9f9f9; background-repeat: no-repeat background-position: center 0; -webkit-background-size: cover;
background-size: cover; position: relative;}
.subpage-banner > img{ position: absolute; left: 0; right: 0; bottom: 0; width: 100%; }
.subpage-banner .container{ height: 100%; }
.subpage-banner h2{ color: #fff; position: relative; margin:0;}
.subpage-banner h2::before{ content: ""; }
.subpage-banner .banner-title{ position: relative; display: inline-block;}
.subpage-banner .banner-title::before{ content: ""; position: absolute; left: 0; top: -20px; background: url(assets/images/quote-left.png) no-repeat; width: 19px; height: 15px; }
.subpage-banner .banner-title::after{ content: ""; position: absolute; right: 0; bottom: -25px; background: url(assets/images/quote-right.png) no-repeat; width: 19px; height: 15px; }
.subpage-banner .subpage-banner-content { display: table; height: 100%; position: relative; z-index: 11;}
.subpage-banner .v-align { display: table-cell; vertical-align: middle; position: relative;}

.subpage-banner-2{ background: #04abc2; padding:70px 0 59px; text-align: center; }
.subpage-banner-2 .banner-title{ color:#fff; font-size: 56px; font-family: 'metric-bold'; text-transform: uppercase; margin:0;}
.subpage-banner-2 p{ margin:0; color:#fff; }

.subpage{ padding:60px 0; }
.subpage .heading{ max-width: 920px; margin: 0 auto 40px; }
.subpage .heading p{     text-transform: none;
    padding-top: 10px;
    font-size: 18px;}

.secondary-nav{ border: 1px solid #02aac5; border-radius: 8px; display: inline-block; font-size: 0; margin-bottom: 55px; overflow: hidden;}
.secondary-nav li{ display: inline-block; }
.secondary-nav li a{ display: block;padding: 18px 40px 12px;color: #373737;font-family: 'metric-bold';text-transform: uppercase;font-size: 16px; border-right: 1px solid #02aac5; }
.secondary-nav li:last-child a{ border:0; }
.secondary-nav li a:hover{ background: #e5f6f9;  }
.secondary-nav li.current-menu-item a{ color: #fff; background: #02aac5; }
.whats-new img{ display: block; margin: 45px 0 25px; }
.whats-new h3{ font-size: 24px; color: #3b3b3b; border-bottom: 1px solid #e6e6e6; padding-bottom: 15px; margin-bottom: 20px;}
.whats-new p{ font-size: 16px; color:#000000;font-family: 'metric-light';}
.whats-new .col-6{ margin-bottom: 10px; }
.whats-new-gallery{ display: none; }

.equipment-list{ margin:0 -9px; font-size: 0;}
.equipment-list li{ padding:0 9px 18px; display: inline-block; width: 50%; font-size: 20px;}
.equipment-list li a{ font-size: 20px; color: #141414; text-transform: uppercase; background: #f8f8f8; padding:21px 25px 14px; border: 2px solid #dadada; display: block; position: relative;}
.equipment-list li a:hover{ text-transform: none; background: #e14062; color: #fff; border-color:#e14062;}
.equipment-list li a::after{ content: ""; position: absolute; right: 25px; top: 15px; background: url(assets/images/right-arrow.svg) no-repeat; -webkit-background-size: 30px; width: 30px; height: 30px;background-size: 30px; }
.equipment-list li a:hover::after{ background-image: url(assets/images/right-arrow-white.svg);}


.equipment-single-list{ padding-top: 30px; }
.equipment-single-list li{ margin-bottom: 30px; position: relative;}
.equipment-single-list li::before{ content: ""; position: absolute; left: 0; right: 170px; top: 23px; height: 3px; background: #f8f8f8; }
.equipment-single-list li span{ float: left; text-transform: uppercase; font-size: 30px; color: #606060;font-family: 'metric-light'; background: #fff; position: relative; z-index: 1;padding: 11px 15px 11px 0;}
.equipment-single-list li .styled-browse{ float: right; color:#fff; padding:16px 40px 10px; background: #e14062; border-radius: 5px; font-size: 18px; text-transform: uppercase;font-family: 'metric-bold'; cursor: pointer; position: relative; z-index: 1;}

.equipment-single-list li .styled-browse a{ color:#fff; }

.equipment-single-list li .styled-browse:hover{ background: #02aac5; }
.equipment-single-list li .styled-browse input{ display: none; }


.partners-list{ display: inline-block; margin:50px 0 0; text-align:center;}
.partners-list li{ display: inline-block; padding:0 30px; font-size: 19px;font-family: 'metric-light'; text-align: center; width:49%; vertical-align:top;}
.partners-list p{padding:17px 0 0 0}

.partners-list li .v-align{ height: 82px; margin-bottom: 30px;}
.partners-list li .v-align .helper{display:inline-block;height:100%;padding:0;position:relative;bottom:0;left:0;vertical-align:middle;}
.partners-list li .v-align img{vertical-align:middle;max-width:100%;max-height:100%;}

.partners-list li:first-child {    padding: 0 0 40px 0px;
    display: block; width:80%; margin:0 auto}


.who-we-are-left{ float: left; width: 48%; }
.who-we-are-left .btn{ margin-bottom: 7px; }
.who-we-are-left p{ font-size: 18px; line-height: 26px; }
.who-we-are-left .page-title{ margin-bottom: 30px; }
.who-we-are-right{ float: right; width: 46.6%; }



#project-gallery {
}
#project-gallery .prime-images a {
	float:left;
	margin:0 5px 5px 0;
	padding:0;
}
#project-gallery a img {
	display:block
}
#project-gallery .reg-images a {
	width:calc ( 33% - 5px );
	float:left;
	margin:0 5px 5px 0

}
#map {
	width:100%;
	height:665px;
}
#bodyContent .leftse{
	width:49%;
	display:inline-block;
	vertical-align:top;
		padding:10px 0 0 0;
}
#bodyContent .leftse h4{
	font-size:16px;
	color:#e14062;

	margin:0

}
#bodyContent .leftse p{
	font-size:14px;
	color:#000;

}
#contact-form {
	width:58%;
	display:inline-block;
	margin:25px 7% 0 0
}
#contact-form h3 {
	margin:0 0 25px 0
}
#contact-form .field {
	width:49.5%;
	display:inline-block;
	padding:0 10px  22px 0
}
#contact-form .field input, #contact-form .field textarea {
	border: solid 1px #e6e6e6;
	background:#fff;
	margin:0;
	padding:0 10px
}
#contact-form .field textarea {
	padding:10px
}
#contact-form .field label{
	font-family: 'metric-light';
	padding:0 0 5px 0;
	display:block;

    color: #0c0c0c;}
#contact-form .field select {
	color: #000;
    padding: 0 10px;
    font-size: 14px;
    width: 100%;
    height: 48px;
    font-family: "Graphik-Regular",Arial,Helvetica,sans-serif;
    border: 0;
	border: solid 1px #e6e6e6;
	background:#fff;
}

#contact-form .field.full {
	width:99.5%;
}
#contact-address {
	width:34%;
	background:#f2f2f2;
	display:inline-block;
	vertical-align:top;
	padding:30px;
	margin:115px 0 00 
}
#contact-address h5 {
	font-family: 'metric-semibold';
	font-size:22px;
	margin:0
}
#contact-address p{
	font-family: 'metric-light';
	font-size:19px;
	line-height:29px;
	color:#000
}
#contact-address a.link{
	font-family: 'metric-semibold';
	font-size:19px;
	line-height:29px;
	color:#000
}
#contact-address a.btn{
	font-size:15px;
    padding: 11px 24px 6px;
	min-width:185px;
	margin:0 0 10px 0
}
.expologo {
    position: fixed;
    right: -7px;
    top: 141px;
    z-index: 111;
}

.owl-dots{ text-align: center; margin-top: 20px;}
.owl-dots .owl-dot{ width: 15px; height: 15px; border-radius: 100%; background: #ccc; display: inline-block; margin:0 2px;}
.owl-dots .owl-dot.active{ background: #02aac6; }


@media (min-width: 1003px) and (max-width:1270px) {
    .container{ max-width:945px;}
    .header .main-nav { float: left;}
    .header .main-nav li{ margin:0 13px; }
    .header .main-nav li:nth-child(1){ margin-left: 0; }
    .our-partners a { margin: 0 20px;}
    .footer-top .left h3{ font-size: 30px; }
    .what-we-offer-row .each{width: 27%;}
    .what-we-offer-row .each:nth-child(2){width: 46%;}
}
@media (max-width: 768px){
    body{ min-width:320px; font-size: 15px;}
    .container,
    .footer .container,
    .what-we-do .container,
    .banner-bottom .container,
    .what-we-do .container{ max-width:94%;}
    .header .main-nav{ display: none; }
    .header .main-nav li{ margin:0 0 14px; }
    .header .main-nav li,
    .header .main-nav { float: none;}
    .header .main-nav li a{ display: block;}
    .clr-mobile{ display: block; clear: both;}
    .mobile-btn{ float: right; width: 40px;margin: 20px 10px 0 0;}
    .mobile-btn span{ display: block; height: 5px; background: #7d7979; border-radius: 20px; margin-bottom: 6px;}

        .sitemap-widget,
    .what-we-do-widget,
    .what-we-offer-widget,
    .footer-contact-widget { float: none; width: auto; padding-left: 0;margin-bottom: 6px;}
    .footer-bottom ul:not(.social) { display: none; }
    .footer-bottom h3{ position: relative; border-bottom: 1px solid #4a4a4a;margin: 0;padding: 10px 0;}
    .footer-bottom h3:not(.no-arrow)::after{ font-family: "Font Awesome 5 Free"; content: "\f107";font-weight: 900;margin: 0 4px 0; float: right;}
    .footer-bottom h3:not(.no-arrow).active::after{ content: "\f106"; }
    .footer-bottom ul:not(.social) li{ display: block; width: auto; }
    .footer-bottom ul:not(.social) li a{border-bottom: 1px solid #4a4a4a; display: block;padding: 12px 0 8px;}
    .footer-bottom ul:not(.social) li { margin-bottom: 0;}
    .footer-contact-widget h3{ margin-bottom: 20px; }
    .footer-contact-widget h3.mobile-adjust{ margin-bottom: 0;border: 0; }
    .footer-contact-widget h3.mobile-adjust::after{ display: none; }
    .our-partners a { margin: 0 20px;max-width: 20%;display: inline-block;}
    .footer-top .left h3{ font-size: 30px; }
    .our-partners a:first-child { padding: 0;}
    .our-partners a img { max-height: 80px; max-width: 100%;}
    h2 { font-size: 36px;}
    h3 { font-size: 30px;}
    

    .what-we-do .row { margin: 0;}
    .what-we-do .row .col-6{ width: 100%; }
    .what-we-do .row .each { display: block; margin-left: 0; margin-right: 0;}

    .our-hostory .left { width: auto; float: none; padding: 0;}
    .our-hostory .right { width: auto; float: none; padding-top: 30px;}

    .banner-bottom { padding: 30px 0; background-position: center bottom; height: auto; background-size: auto 300%;}
    .banner-bottom .left {float: none;width: auto; padding-bottom: 10px;}
    .banner-bottom .right { float: none; width: 100%;}
    .banner-bottom .right .btn{ display: block; }
    
    .what-we-offer-row { margin: 0 -3px;/*display: flex; flex-flow: column nowrap;*/}
    .what-we-offer-row .each{ width: 100% !important;padding: 0 3px; margin-bottom: 5px; }
    .what-we-offer-row .each::before{ left: 3px; right: 3px; }
    /*.what-we-offer-row .each:nth-child(3){order: -1;}*/
    .banner-bottom .left p{font-size: 19px;}
    .main-banner { margin: 0;}
    .who-we-are-left,
    .who-we-are-right { float: none; width: auto;}
    .who-we-are-right{ padding-top: 30px; }
    .subpage-banner .banner-title{font-size: 22px;}
    .subpage-banner{padding: 90px 0; height: auto;}
    .page-title{ font-size: 36px; }
    .what-we-do-row .col-6 h3 {font-size: 19px;padding: 3px 0 0 50px; min-height: 35px; background-size: auto 35px;}
    .what-we-do-row .col-6:nth-child(2){ padding-top: 0; }
    .secondary-nav li { display: block;}
    .secondary-nav li a{border-right: 0;}
    .secondary-nav{ display: block; }
    .equipment-list li { display: block; width: auto;}
    .equipment-single-list li .styled-browse{ display: block; float: none; padding: 11px 13px 5px;}
    .equipment-single-list li span { float: none;font-size: 22px;}
    .equipment-single-list li::before{ display: none; }
    .equipment-single-list { padding-top: 0;}
    .partners-list li{display: block;width: auto; padding-bottom: 40px;}
    .partners-list li img{ max-height: 80px; }
    .playgrounds-list .each{ width: 50%; }
    #map { height: 300px;}
    #contact-form {width: auto; display: block;margin: 0;}
    #contact-address { width: auto; display: block; margin: 40px 0 0;}
    #bodyContent .leftse { width: auto; display: block;}
    #bodyContent .leftse p{margin-bottom: 10px;}
    #bodyContent .leftse .btn{font-size: 16px;padding: 10px 30px 3px;}

.tp-bullets {
    top: auto !important;
    left: 10px !important;
    bottom: -150px;
}
.footer-top .left,
    .footer-top .right { float: none; width: auto;}

}
@media (max-width: 570px) {
    body{ min-width:320px;}
    .header .logo img{ max-width: 200px; }
    .mobile-btn{ margin-top:11px; }
    .who-we-are-left .btn{ display: block; }
    .page-title { font-size: 30px;}
    .playgrounds-list .each{ width: 100%; }
    #contact-form .field { width: auto;display: block;}

}
@media (max-width: 480px) {
    .main-banner .btn{padding: 10px 6px 5px;font-size: 12px;}
}
@media (min-width: 769px) and (max-width:1002px) {
    .container,
    .footer .container,
    .what-we-do .container,
    .banner-bottom .container,
    .what-we-do .container{ max-width:768px;}
    .header .main-nav{ display: none; }
    .header .main-nav li{ margin:0 0 14px; }
    .header .main-nav li,
    .header .main-nav { float: none;}
    .header .main-nav li a{ display: block;}
    .clr-mobile{ display: block; clear: both;}
    .mobile-btn{ float: right; width: 40px;margin: 20px 10px 0 0;}
    .mobile-btn span{ display: block; height: 5px; background: #7d7979; border-radius: 20px; margin-bottom: 6px;}

    .sitemap-widget,
    .what-we-do-widget,
    .what-we-offer-widget,
    .footer-contact-widget { float: none; width: auto; padding-left: 0;margin-bottom: 6px;}
    .footer-bottom ul:not(.social) { display: none; }
    .footer-bottom h3{ position: relative; border-bottom: 1px solid #4a4a4a;margin: 0;padding: 10px 0;}
    .footer-bottom h3:not(.no-arrow)::after{ font-family: "Font Awesome 5 Free"; content: "\f107";font-weight: 900;margin: 0 4px 0; float: right;}
    .footer-bottom h3:not(.no-arrow).active::after{ content: "\f106"; }
    .footer-bottom ul:not(.social) li{ display: block; width: auto; }
    .footer-bottom ul:not(.social) li a{border-bottom: 1px solid #4a4a4a; display: block;padding: 12px 0 8px;}
    .footer-bottom ul:not(.social) li { margin-bottom: 0;}
    .footer-contact-widget h3{ margin-bottom: 20px; }
    .footer-contact-widget h3.mobile-adjust{ margin-bottom: 0;border: 0; }
    .footer-contact-widget h3.mobile-adjust::after{ display: none; }
    .footer-top .left,
    .footer-top .right { float: none; width: auto;}
    .our-partners a { margin: 0 20px;}
    .footer-top .left h3{ font-size: 30px; }

    .what-we-do .row { margin: 0;}
    .what-we-do .row .col-6{ width: 100%; }
    .what-we-do .row .each { display: block; margin-left: 0; margin-right: 0;}
    .our-hostory .left{ padding-top:0; }
    .banner-bottom .left h3{font-size: 31px;}
    .banner-bottom .right{ width: 30%; }

    .what-we-offer-row .each{width: 27%;}
    .what-we-offer-row .each:nth-child(2){width: 46%;}
    .subpage-banner { height: 400px;}
    
    .secondary-nav li a{ padding-left: 13px; padding-right: 13px; }
    .playgrounds-list .each{ width: 50%; }
    #map { height: 400px;}
    #contact-form { width: 55%; margin-right: 3%;}
    #contact-address { width: 41%;}

}
@media (min-width: 1003px) and (max-width:1170px) {
    .footer .container,
    .container,
    .what-we-do .container{ max-width:945px;}
    #map { height: 500px;}
}

@media (min-width: 768px) {
}



