@font-face {font-family: 'metric-bold';
		src: url('Metric-Bold.eot');
		src: url('Metric-Bold.eot?#iefix') format('embedded-opentype'),
			 url('Metric-Bold.woff2') format('woff2'),
			 url('Metric-Bold.woff') format('woff'),
			 url('Metric-Bold.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;	 
}

@font-face {font-family: 'metric-semibold';
		src: url('metric-semibold.eot');
		src: url('metric-semibold.eot?#iefix') format('embedded-opentype'),
			 url('metric-semibold.woff2') format('woff2'),
			 url('metric-semibold.woff') format('woff'),
			 url('metric-semibold.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

@font-face {font-family: 'metric-light';
		src: url('metric-light.eot');
		src: url('metric-light.eot?#iefix') format('embedded-opentype'),
			 url('metric-light.woff2') format('woff2'),
			 url('metric-light.woff') format('woff'),
			 url('metric-light.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}


@font-face {
	font-family: 'Metric-Thin';
	src: url('Metric-Thin.eot');
	src: url('Metric-Thin.woff') format('woff'),
		 url('Metric-Thin.ttf') format('truetype'),
		 url('Metric-Thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'metric-regular';
	src: url('metric-regular.eot');
	src: url('metric-regular.woff') format('woff'), url('metric-regular.ttf') format('truetype'), url('metric-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
