@media (max-width: 768px){
body{ min-width:320px;}
.container{ max-width:94%;}
.footer .footer-left,
.footer .footer-middle,
.footer .footer-right { float: none; width: auto; padding-top: 0;}
.footer .footer-middle,
.footer .footer-right{ padding-top: 20px; }
.footer .footer-right .btn{ width: 100%; }
.footer .footer-right .social { text-align: center;}
.footer .copyright { padding-top: 30px;}
.footer .footer-left li { display: block; width: auto;padding:0;}
.footer .footer-left li a { font-size: 15px;display: block;padding: 9px 0 10px;border-top: 1px solid #333;}
.footer .footer-left li a:after{ content: "\f105";font-weight: 900;font-family: "Font Awesome 5 Free";float: right;color: #555;font-size: 17px;}
.footer h3{ margin-bottom: 10px; }
.mobile-links{border-top: 1px solid #e5e5e5;margin-top: 10px;}
.mobile-links li{float: left; width:25%;}
.mobile-links li a{display: block;padding:26px 5px 26px 56px; color:#000;border-right: 1px solid #e5e5e5;font-size: 13px;font-weight: 600; background-repeat: no-repeat; background-position: 20px center;}
.mobile-links li:nth-child(2) a{ padding-left: 50px; }
.mobile-links li:nth-child(4) a{ padding-left: 65px; }
.header{padding: 23px 0 0;}
.header .main-nav{ margin-top: 0; }
.header .main-nav .nav-left{float: none;}
.header .main-nav .nav-left li { margin-right: 0;float: none;}
.header .main-nav .nav-left li a {border-bottom: 1px solid #f9f9f9; position: relative;}
.header .main-nav .nav-left li a:after { content: "\f105"; font-weight: 900; font-family: "Font Awesome 5 Free"; float: right; color: #555; font-size: 17px;margin-top: 1px;}
.made-in {bottom: 3px; max-width: 74px;}
.header .search-widget { width: 100%;position: relative; display: block;border-bottom: 1px solid #e5e5e5; margin: 10px 0;}
.btn{ min-width: 0; }
.tp-caption{ margin: 0 30px; }


.header .header-top-nav,
.livechat-btn,
.header .main-nav .nav-right,
.mobile-nav-toggle{display: none;}
}
@media (max-width: 570px) {
body{ min-width:320px; font-size:13px;}
.header .logo { max-width: 90px;}
.mobile-links li a{ padding:40px 10px 10px !important;text-align: center; background-position: center 10px;}
.made-in { bottom: 0px;max-width: 60px;}
}
@media (min-width: 769px) and (max-width:1002px) {
.container{ max-width:768px;}
}
@media (min-width: 1003px) and (max-width:1170px) {
.container{ max-width:945px;}
.header .main-nav .nav-left li {margin-right: 12px;}
.header .main-nav .nav-right li {margin-left: 0;}
.header .main-nav .nav-left li a { font-size: 14px;}
.header .main-nav .nav-right li a{ padding-left: 5px;padding-right: 5px; }
.header .header-top-nav li { margin-left: 25px;}
.header .search-widget { width: 93%;}
}
@media (min-width: 768px) {
.mobile-nav-btn{ display:none;}
.main-nav{ display:block !important;}
}